.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container > * {
    flex: 1;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_container {
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/736x/40/5e/e3/405ee3ea9c4ae01e201e414d4b75188c.jpg') center center no-repeat fixed;
    background-size: cover;
}

@media (min-width: 768px) {
    .image_container {
        display: block;
    }
}

@media (min-width: 1024px) {
    .form_container {
        flex: 0.5;
    }
}